@import "tailwindcss";

/* Global styles */
html, body { 
    padding: 0;
    margin: 0;
    background: linear-gradient(to bottom, #050617, oklch(21% 0.034 264.665), #050617);
    overflow-x: hidden;
}

#toast {
    transform: translateX(500px);
    background: #867201;
}

#toast.error {
    background: #bb1515;
}

#toast.show {
    transform: translateX(0);
}

nav {
    inset: 0 0 auto 0;
    position: fixed;
    backdrop-filter: blur(20px);
    height: 3rem;
    z-index: 999;
}

main {
    margin-top: 5rem;
}

button {
    cursor: pointer;
    padding: 0.25rem 1rem;
    border-radius: 10px;
    border: 2px solid #2962FF;
    transition: background-color 0.2s ease-in-out, backdrop-filter 0.2s ease-in-out;
}

button:hover {
    background-color: rgba(41, 98, 255, 0.28);
    backdrop-filter: blur(10px);
}

button:disabled {
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
}

